.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.main > * + * {
  margin-top: 1.25rem;
}

.main > div {
  max-width: 600px;
}

.portrait {
  border-radius: 50%;
  max-width: 180px;
}

.highlighted-text {
  background-color: var(--ifm-color-primary);
  border-radius: 0.25rem;
  color: var(--ifm-font-color-base-inverse);
  padding: 0.125rem;
}

.spotify-iframe {
  border-radius: 0.75rem;
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}
